body {
    background-color: antiquewhite;
    font-family: Arial, sans-serif;
    text-align: center;
}

.paragraph {
    color: red;
}

#linh {
    color: blue;
}



.container {
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
}

h2 {
    color: green;
    font-size: 24px;
}

div span {
    font-weight: bold;
    font-size: 30px;
}


/* sdfggggggghfdhsssssssssssssssssssssssssssssshd 2*/