body {
    background-color: antiquewhite;
    font-family: Arial, sans-serif;
    text-align: center;
}

.paragraph {
    color: red;
}

#linh {
    color: blue;
}



.container {
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
}

/* sdfggggggghfdhsssssssssssssssssssssssssssssshd 2*/