body {
    background-color: antiquewhite;
    font-family: Arial, sans-serif;
    text-align: center;
}

.paragraph {
    color: red;
}

#linh {
    color: blue;
    font-size: Bold;
    font-size: 20px;
}

#btn {
    background-color: aquamarine;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

#btn:hover {
    background-color: orange;
    color: white;
}

.container {
    display: inline;
    justify-content: space-between;
    align-items: center;
    height: 1000px;
}


/* sdfggggggghfdhsssssssssssssssssssssssssssssshd 2*/